body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#game {
    border: #11BB55 5px solid;
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.lane {
    border: 5px white solid;
    margin: 5px;
    height: 70px;
    padding: 10px;
    width: 33%;
    height: 90%;
}

#player {
    background-color: cadetblue;
    margin: auto;
    position: relative;
    top: 60%;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: ease 0.5s;
    display: flex;
    align-items: center;
}
.jump {
    background-color: rgb(112, 168, 169) !important;     
    transform: scale(1.25);
    transition: ease 0.5s;
}

.crouch {
    background-color: rgb(86, 143, 144) !important;     
    transform: scale(0.75);
    transition: ease 0.5s;
}

#block, #block2 {
    position: absolute;
    margin: auto;
    display: none; /* Initially hide block2 */
    transform: translateX(50%);
}

button {
    background-color: azure;
    color: black;
    padding: 10px;
    font-size: medium;
    transition: ease 0.5s;
    border-radius: 10px;
}

button:hover {
    animation: rotato 0.5s;
}

@keyframes rotato {
    0% {
    }
    10% {
        transform: rotate(-45deg) scale(0.9);
    }
    75% {
        transform: rotate(400deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg );
    }
}
